@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "styles/navigation.css";
@import "styles/personalData.css";
@import "styles/skills.css";

/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  transition: all 0.5s;
}

body {
  background-color: rgb(53, 54, 58);
}

div img {
  width: 4vw;
}
