@media (orientation: portrait) {
    .contact {
        background-color: whitesmoke;
        border-radius: 8px;
        padding: 8px;
        margin: 8px 3vw;
        width: 94vw;
        z-index: 50;

    }

    .contact h2 {
        font-size: 6vmin;
        background-color: grey;
        color: whitesmoke;
        font-style: italic;
        font-weight: 400;
        border-radius: 35px 10px;
        width: max-content;
        padding: 5px 10px;
        margin-bottom: 10px;

    }

    .contact p {
        font-size: 4.5vmin;
        font-weight: 500;
        margin: 10px 0;
    }

    .contact p a {
        font-weight: 300;
        text-decoration: none;
        cursor: pointer;
        

    }
}