.about {
    /* border: 1px solid white; */
    width: 70vw;
    height: 70vh;
    margin: 5vh 2vw 3vh 3vw;
    padding: 2vh 2vw 2vh 2vw;
    background: rgb(155, 154, 154);
    border-top: 1rem solid black;
    border-radius: 2rem;
    position: relative;
    right: 0;
    flex: 1;
}