body {

background-color: rgb(53, 54, 58);;

}

.personalData div.none {
    display: flex;
    position: absolute;
    opacity: 0;
    z-index: -5000000;
    transition: 6s;

}


.personalData {
    /* border: 1px solid blue; */
    display: flex;
    border-top: 1rem solid black;
    border-radius: 2rem;
    background: rgb(155, 154, 154); 
    width: 15vw;
    height: 60vh;
    margin: 5vh 0 0 3vw;



}

.personalData.abrir {

        /* border: 1px solid blue; */
    display: flex;
    border-top: 1rem solid black;
    border-radius: 2rem;
    background: rgb(155, 154, 154); 
    width: 30vw;
    height: 60vh;
    margin: 5vh 0 0 3vw;


}

.personalData.abrir #resume  h3 {
    /* border: 1px solid black; */

    margin: 0;
    font-weight: 500;
    font-size: 1.3vw;
    width: 15vw;

}

.personalData.abrir #resume p {
    /* border: 1px solid black; */

    font-weight: 300;
    font-size: 1vw;
    width: 15vw;

}



.personalData div {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    width: 15vw;

}

.personalData .span span {
    animation: go 1s forwards;
}

@keyframes




.personalData .span span::after {
    /* border: 1px solid black; */

    content: "";
    background: url("/assets/open.svg") no-repeat;
    background-position: center;
    display: flex;
    height: 6vh;
    width: 3vw;
    cursor: pointer;
    position: relative;
    top: 25vh;
    /* right: 0; */
    /* animation: go 1s; */
    
}




#data img {
    width: 12vw;
    margin: 0 1vw 2vh 1vw;
    border-radius: 8px;
}

#data h2 {
    /* border: 1px solid black; */

    color: black;
    font-weight: 500;
    margin-left: 1vw;
    font-size: 1.3vw;
    width: 13vw;
}

#data h3 {
    /* border: 1px solid black; */

    margin-left: 1vw;
    font-weight: 300;
    font-size: 1vw;
    width: 13vw;

}




