.about {
    /* border: 1px solid white; */
    width: 70vw;
    height: 84vh;
    margin: 15px 2vw 3vh 3vw;
    padding: 8px;
    background: whitesmoke;
    border-radius: 2rem;
    position: relative;
    right: 0;
    flex: 1;
}

