@media (orientation: portrait) {

    .topMenu {
        height: 50px;
        z-index: 500000000000;
    }

    .topMenu #menuButton {
        content: "";
        background-color: rgb(116, 113, 113);
        background-image: url('/assets/openMenu.svg');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        width: 35px;
        height: 35px;
        z-index: 5;
        position: absolute;
        top: 7px;
        left: 15px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }

    .topMenu.active #menuButton {
        background-image: url('/assets/closemenu.svg');
        background-size: 60%;
        background-color: rgb(160, 25, 25);
        transform: rotate(90deg);
        transition: 0.3s;
    }

    .topMenu .menu {
        display: none;
    }

    .topMenu.active .menu {
        background: linear-gradient(black, rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.822));
        margin: 0;
        padding:  10px 25px;
        /* border: 1px solid red; */
        border-radius: 0 0 18px 0;
        width: 25vw;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 5;
        transition: 1s;
        cursor: pointer;

    }



    
}