@media (orientation: portrait) {

    .topMenu {
        height: 50px;
        z-index: 500000000000;
    }
    .topMenu #menu {
        content: "";
        background-color: rgb(116, 113, 113);
        background-image: url('/assets/openMenu.svg');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        width: 35px;
        height: 35px;
        z-index: 5;
        position: absolute;
        top: 7px;
        left: 15px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        
    }

    .topMenu #menu.active {
        background-image: url('/assets/closemenu.svg');
        background-size: 60%;
        background-color: rgb(160, 25, 25);
        transform: rotate(90deg);
        transition: 1s;
        
    }
}