@media (orientation: portrait) {
  .display {
    top: 70px;
  }
  .topMenu {
    height: 70px;
    z-index: 5;
  }

  .topMenu #menuButton {
    content: "";
    background-color: rgb(116, 113, 113);
    background-image: url("../assets/openmenu.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    z-index: 5;
    position: absolute;
    top: 10px;
    left: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  .topMenu.active #menuButton {
    background-image: url("../assets/closemenu.svg");
    background-size: 60%;
    background-color: rgb(160, 25, 25);
    transform: rotate(90deg);
    transition: 0.3s;
  }

  .topMenu .menu {
    background: linear-gradient(
      black,
      rgba(0, 0, 0, 0.884),
      rgba(0, 0, 0, 0.822)
    );
    margin: 0;
    /* border: 1px solid red; */
    border-radius: 0 0 18px 0;
    width: 45vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 5;
    transition: 1s;
    cursor: pointer;
    height: 0;
    overflow: hidden;
    /* border: 1px solid white; */
  }

  .topMenu.active .menu {
    height: fit-content;
    padding: 10px 25px;
    transition: 1s;
  }

  /* .topMenu.active .menu a {
    pointer-events: none;
  }

  .topMenu.active .menu a span {
    pointer-events: visible;
  } */
}
