@media (orientation: portrait) {
  .personalData #span {
    display: none;
  }

  .personalData #span span {
    display: none;
  }

  #arrow {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    height: 50vh;
    width: 94vw;
    /* border: 1px solid black; */
    /* margin-bottom: -50px; */
    justify-content: flex-end;
    align-self: center;
  }


  
  #arrow span {
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    background: url("../assets/open.svg") no-repeat;
    transform: rotate(90deg);
    margin-bottom: -25px;
    align-self: center;
    animation: clickMe 1s infinite;
  }

  #arrow span.opened {
    transform: rotate(270deg);
  }


  .display {
    display: flex;
    flex-direction: column;
  }

  .personalData {
    width: 94vw;
    overflow: hidden;
    height: 50vh;
    margin: 10px 3vw 8px 3vw;
    top: 80px;
    border-top: none;
  }

  

  .personalData.opened {
    height: max-content;
    
  }

  .personalData div#data {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
  }

  .personalData div#data section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
    
  }

  .personalData div#data .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .personalData div#data .cards img {
    width: 100%;
  }

  .personalData div#data .profile { 
    padding: 8px;
  }

  

  .personalData div#data img {
    align-self: center;
    width: 100%;
    margin-bottom: 0;
  }

  .personalData div#data h2 {
    width: 80%;
    margin: 10px 10% 0 10%;
    font-size: 6vmin;
    font-weight: 400;
  }
  
  .personalData div#data h3 {
    /* border: 1px solid black; */
    width: 80%;
    margin: 0 10%;
    font-style: italic;
    font-size: 4.5vmin;
  }


}
