@media (orientation: portrait) {
/*   
  .personalData {
    display: none;
  }

  .about {
    display: none;
  } */

  /* #arrow {
    display: none;
  } */
  .skills {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    bottom: 0;
    height: inherit;

  }

  .skills div{
    /* border: 1px solid white; */
    width: 94vw;
    align-self: center;
    margin-bottom: 20px;
    border-top: 15px solid black;
    border-radius: 1rem;
    background: whitesmoke;
    padding: 10px;
    display: grid;
    grid-template-areas: 
    "hability img"
    "percentage percentage";
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  .skills div section {
    /* border: 1px solid black; */
  }

  .skills div section#img {
    grid-area: img;
    /* width: 60%; */

  }
  
  .skills div section#img img{ 
    width: 100%;
  }

  .skills div section#hability {
    grid-area: hability;
  }

  .skills div section#hability h3 {
    font-size: 7vmin;
    margin-bottom: 15px;
  }

  .skills div section#hability h4 {
    font-size: 5vmin;
    font-weight: 300;
  }

  .skills div section#percentage {
    grid-area: percentage;
  }

  .skills div section p {
    text-align: center;
    background: forestgreen;
    border-radius: 8px;
  }
  



}


